{% extends 'nyumba/base.html' %}
{% load static %}

{% block content %}


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section spad set-bg" data-setbg="{% static 'nyuma/img/breadcrumb-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h4>About us</h4>
                        <div class="bt-option">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section spad">
        <div class="container">
            <div class="row">
                {% for about in object_list %}
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="at-title">
                            <h3>{{ about.jina_kitu }}</h3>
                            <p>{{ about.maelezo }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic set-bg" data-setbg="{{ about.picha.url }}">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- About Section End -->



{% endblock content %}