{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aler Template">
    <meta name="keywords" content="Aler, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ORIGIN STONY</title>
    <link rel="icon" href="{% static 'nyuma/img/logoo.png' %}" type="image/gif">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'nyuma/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'nyuma/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Wrapper Begin -->
    {% include 'nyumba/znavbar.html' %}

    <!-- Offcanvas Menu Wrapper End -->

    {% block content %}

    {% endblock content %}

     <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="fs-about">
                        <div class="fs-logo">
                            <a href="#">
                                <img src="{% static 'nyuma/img/f-logo1.png' %}" alt="">
                            </a>
                        </div>
                        <p>Jenga nasi nyumba yenye ubora.</p>
                        <div class="fs-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="fs-widget">
                        <h5>Help</h5>
                        <ul>
                            <li><a href="/contact/">Contact Us</a></li>
                            <li><a href="/about/">About Us</a></li>
                            <li><a href="/photo/">What We do</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="fs-widget">
                        <h5>Links</h5>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="/admin/">Login</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="copyright-text">
                <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'nyuma/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'nyuma/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'nyuma/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'nyuma/js/mixitup.min.js' %}"></script>
    <script src="{% static 'nyuma/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'nyuma/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'nyuma/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'nyuma/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'nyuma/js/jquery.richtext.min.js' %}"></script>
    <script src="{% static 'nyuma/js/image-uploader.min.js' %}"></script>
    <script src="{% static 'nyuma/js/main.js' %}"></script>
</body>

</html>